
@{
    ViewBag.Title = "New Rental Form";

}

<h2>New Rental Form</h2>

<form id="newRental">
    <div class="form-group">

        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true" type="text" class="form-control" required/>

        </div>

    </div>
    <div class="form-group">

        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" name="movie"  data-rule-validMoviesNumber="true" type="text" class="form-control" />
        </div>

    </div>
    <div class="row">
       <div class="col-md-4">
           <div class="col-sm-4">
               <ul id="movies" class="list-group"></ul>
           </div>
       </div>     
       

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        let vm = {
            movies_Ids: []

        };
        
        $(document).ready(function () {
            let customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            let movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });


            $('#customer').typeahead({
                minLength: 3,
                highlight: true

            }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function (e, customer) {
                vm.customer_Id = customer.id;

            });


            $('#movie').typeahead({
                minLength: 3,
                highlight: true

            }, {
                name: 'movies',
                display: 'name',
                source: movies
            }).on("typeahead:select", function (e, movie) {
                $("#movies").append("<li class='list-group-item'>"+movie.name+"</li>")
                vm.movieId = movie.id;
                $("#movie").typeahead("val","");

                vm.movies_Ids.push(movie.id);

            });


            $.validator.addMethod("validMoviesNumber", function () {

                return vm.movies_Ids.length > 0;


            }, "Please Select at least one movie");


            $.validator.addMethod("validCustomer", function () {

                return vm.customer_Id && vm.customer_Id !== 0;

            }, "Please Select A Valid Customer");


           let validator= $("#newRental").validate({
                submitHandler: function () {

                    $.ajax({
                        url: "/api/rentals",
                        method: "post",
                        data: vm
                    }).done(function () {
                        toastr.success("Rentals successfully recorded.");
                        $("#customer").typeahead("val", "");
                        $("#movie").typeahead("val", "");
                        $("#movies").empty();
                        vm = { movies_Ids: [] }
                        validator.resetForm();

                    })
                        .fail(function () {
                            toastr.error("Error! Please try Again")
                        })

                    return false;
                }

            })
           


        });

 
    </script>
    
    
    }
